/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*body * {
  border: 0.2px dashed #333;
}*/

body {
  font: 200 14px/21px "Open Sans", "Helvetica Neue", Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
/*
-------------------------------------------------
NAVBAR
========================
*/
.logo {
  font-size: 22px;
  float: left;
}

.navbar {
  height: 50px;
  width: 100%;
  line-height: 50px;
  border-bottom: 2px solid #333;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 100;
}

.cart-container {
  float: right;
  line-height: 50px;
  font-size: 16px;
}

.cart-container img {
  height: 35px;
  width: 35px;
  margin: 0 5px;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}


/*
-------------------------------------------------
TEASER
========================
*/
.teaser {
  height: 380px;
  display: block;
  margin-top: 52px;
  background: #333 url("viking_ship.jpg") 0 0 no-repeat;
  background-size: 100% 380px;
}

.teaser h1 {
  position: relative;
  top: 40%;
  text-align: center;
  font: bold 62px/54px "Open Sans", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 6px;
  text-shadow: -1px -2px 18px rgba(246, 178, 107, 1);
  background: -webkit-linear-gradient(#F6B26B, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
-------------------------------------------------
PRODUCTS AREA
========================
*/

.title {
  font: 200 42px "Open Sans", "Helvetica Neue", Arial, sans-serif;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  background: #3D3D3F;
}

.product-title {
  height: 40px;
  text-align: center;
  font-size: 22px;
  font-style: italic;
  line-height: 40px;
  color: #666;
  letter-spacing: 2px;
  border-bottom: 2px solid #666;
}

/*
-------------------------------------------------
BOX WITH PRODUCT
========================
*/
.products {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cart-box {
  height: 300px;
  width: 300px;
  background: #3D3D3F;
  float: left;
  margin: 20px 8px 10px 8px;
}

.title-box {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  line-height: 45px;
}
.img-box {
  background: #fff;
  margin-left: 5px;
  width: 290px;
  height: 200px;
  border: 5px solid double #3D3D3F;
}

.img-box img {
  height: 200px;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tag-box {
  height: 30px;
  width: 70px;
  background: #fff;
  color: #666;
  font-size: 18px;
  border: 3px solid #000;
  text-align: center;
  line-height: 30px;
  margin-top: -207px;
  margin-left: 225px;
  position: relative;
}


a .btn-box {
  height: 30px;
  width: 140px;
  background: #F6B26B;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #000;
  text-align: center;
  margin: 10px auto;
  line-height: 30px;
}



/*
-------------------------------------------------
PAGINATION
========================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

.pagination {
  height: 80px;
  clear: both;
  text-align: center;
  letter-spacing: 5px;
  font: 300 23px "Open Sans";
}

.pagination ul {
  display: inline-block;
}

.pagination li {
  display: inline;
  text-decoration: underline;
  line-height: 80px;
}

.pagination li a {
  color: #37F;
}

a:inactive {

}


/*
-------------------------------------------------
FOOTER
========================
*/


footer {
  font: 300 15px "Open Sans", "Helvetica Neue", Arial, sans-serif;
  height: 130px;
  text-align: center;
  color: #fff;
  background: #3D3D3F;

}

footer h3 {
  color: #F6B26B;
  font-size: 20px;
  margin-bottom: 8px;
  padding-top: 10px;
  text-align: center;
}

footer img {
  width: 27px;
}

.contact {
  display: block;
  text-align: left;
  width: 230px;
  margin: 0 auto;
}

.contact h5 {
  vertical-align: top;
  display: inline-block;
  padding-top: 5px;
  padding-left: 20px;
}

